{% extends "layout.html" %}

{% block title %}
    Calendar
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                {% for i in range(7) %}
                <th class="text-start">{{ weeks[i]["month"] }}/{{ weeks[i]["day"] }} ( {{ weeks[i]["weekday"] }} )</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(7) %}
                    {% if classes[i] == None %}
                    <td></td>
                    {% else %}
                        {% for row in rows %}
                            <td>{{ classes[i]["hour"]}}:{{ classes[i]["minute"]}} {{ classes[i]["studentname"]}}({{ classes[i]["teachername"]}})({{ classes[i]["subject"]}})</td>
                        {% endfor %}
                    {% endif %}

            {% endfor %}
        </tbody>
    </table>
{% endblock %}