{% extends "layout.html" %}

{% block title %}
    Calendar
{% endblock %}

{% block main %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                {% for i in range(7) %}
                <th>{{ weeks[i]["month"] }}/{{ weeks[i]["day"] }} ( {{ weeks[i]["weekday"] }} )</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(7) %}
                <td>{{ classes[i] }}</td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}