{% extends "layout.html" %}

{% block title %}
    Course
{% endblock %}

{% block main %}
    <form action="/course" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="teachername" placeholder="Teacher Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="studentname" placeholder="Student Name" type="text">
        </div>
        <div class="mb-3">
            <select name="subject">
                <option disable selected>Subject</option>
                {% for subject in subjects %}
                    <option>{{ subject }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select name="month">
                <option disable selected>Month</option>
                {% for month in months %}
                    <option>{{ month }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select name="day">
                <option disable selected>Day</option>
                {% for day in days %}
                    <option>{{ day }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select name="hour">
                <option disable selected>Hour</option>
                {% for hour in hours %}
                    <option>{{ hour }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select name="minute">
                <option disable selected>Minute</option>
                {% for minute in minutes %}
                    <option>{{ minute }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Course Register</button>
    </form>
{% endblock %}