{% extends "layout.html" %}

{% block title %}
    Entire
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Month</th>
                <th class="text-start">Day</th>
                <th class="text-end">Start Time</th>
                <th class="text-end">Teacher</th>
                <th class="text-end">Student</th>
                <th class="text-end">Subject</th>
            </tr>
        </thead>
    <tbody>
            {% for class in classes %}
                <tr>
                    <td class="text-start">{{ class["month"] }}</td>
                    <td class="text-start">{{ class["day"] }}</td>
                    <td class="text-end">{{ class["hour"] }}:{{ class["minute"] }}</td>
                    <td class="text-end">{{ class["teachername"] }}</td>
                    <td class="text-end">{{ class["studentname"] }}</td>
                    <td class="text-end">{{ class["subject"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}