{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="type">
                <option disable selected>Type</option>
                {% for type in types %}
                <option>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}